body {
    padding: 0;
    margin: 0;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

/* Nav CSS */

header {
    background-color: rgb(156, 0, 0);
    margin-bottom: 40px;
    padding-right: 50px;
}

header h1 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    display: flex;
    padding-left: 0px;
    list-style: none;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px 0 0;
}

header nav ul li:last-child {
    margin-right: 0;
}

/* Content CSS */

a,a:visited {
    color: white;
    align-items: center;
    justify-content: center;
}

.group {
    display: flex;
    flex-direction: row;
}

.group-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    flex: 1;
    margin: 5px;
    background-color: rgb(156, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-sm {
    width: 150px;
    max-width: 150px;
}

.transparent {
    background-color: transparent;
}

.item img {
    width: 100%;
}

.item-auto-align {
    align-self: flex-start;
}

.item div img {
    width: 150px;
}

.bg-cornsilk {
    background-color: rgb(156, 0, 0);
}

.item p {
    margin-left: 20px;
}

h1,h2 {
    margin-left: 15px;
}

.item hr {
    width: 100%;
}

/* Form CSS */

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
form button {
    padding: 10px 16px;
    border-radius: 10px;
    border: 0;
    font-family: Tahoma;
    font-size: 16px;
    background: black;
    color: white;
    margin: 0 8px 10px 0;
}
form label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: white;
    font-family: arial;
}
  
form input[type=text],
form input[type=email] {
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
}

form textarea {
    height: 4.75rem;
    width: 100%;
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
}

@media all and (max-width: 420px) {
    header nav {
        flex-direction: row;
    }
    header nav ul {
        display: flex;
        flex-direction: column;
    }
}

@media all and (min-width: 800px) {
    .group {
        flex-direction: row;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }

    header h1 {
        margin: 14px;
        padding-top: 0;
    }

    header nav {
        margin-top: 8px;
    }

    header nav ul li a:hover {
        color: #bdbdbd
    }
}