body {
    padding: 0;
    margin: 0;
    background-color: grey;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #815e0b;
    text-align: center;
}

header h1 {
    flex: 1;
}

.group {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
    margin: 5px;
    background-color: cornsilk;
}

.item img {
    width: 100%;
}

.bg-cornsilk {
    background-color: cornsilk;
}

@media all and (min-width: 800px) {
    .group {
        flex-direction: row;
    }
}